
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search-box{
  padding: 10px;
}

.search-box input{
  padding: 10px;
  font-style: italic;
  font-size: 1.2em;
  width: min(90%,750px);
}

.search-box input:active,
.search-box input::selection{
  border: none;
}
.search-box input:focus,
.search-box input::valid{
background-color: #313131;
		color: red
  }